<div class="jumbotron text-center">
    <h1>MEAN Plots</h1>
    <p class="lead">A javascript coordinate tracking API built with Leaflet and Mapbox on the MEAN stack</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h3>Leaflet Interactive Maps</h3>
        <p>Gorgeous maps rendered using the Leaflet Open Source javascript library</p>
      </div>
      <div class="col-md-4">
        <h3>JSON to geoJSON Parsing API</h3>
        <p>Custom javascript API that converts MongoDB JSON to geoJSON objects</p>
      </div>
      <div class="col-md-4">
        <h3>Autonomous Tracking Engine</h3>
        <p>Persistant unique identifiers</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h3>Node and Express Backend</h3>
        <p>Node.js/Express server utilizing Mongoose to organize models and query MongoDB</p>
      </div>
      <div class="col-md-4">
        <h3>Angular-CLI and Bootstrap</h3>
        <p>App built using the latest Angular-CLI and Bootstrap framework</p>
      </div>
      <div class="col-md-4">
        <h3>JWT Tokens</h3>
        <p>Full featured authentication and security using JSON web tokens</p>
      </div>
    </div>